*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(0, 0, 196);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-formulario{
    display: block;
    margin-top: 90px ;
}
img{
    margin-left: 190px;
}
.formulario{
    max-width: 500px;
    margin: 50px;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #2c5aa0;
    margin-bottom: 20px;
}

.caixa-texto {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-botao {
    width: 100%;
    padding: 12px;
    background-color: #2c5aa0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.volta{
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}